In [2]:
import numpy as np
import pandas as pd
import re
import csv

In [33]:
df=pd.read_csv(f"./CSVs/2017.csv")
# select all columns except first
df=df.iloc[:,1:]
df.rename=

In [34]:
df=df.drop(columns=["Exam Type"],axis=1)
df

,KUCAT ID,Name,CBT Score,Program Applied
0,KUCAT_2017_1,Shree Kaji Ghimire,1153,BE in Mechanical Engineering(Automobile)
1,KUCAT_2017_2,Astitwa Mademba,758,BE in Mechanical Engineering(Automobile)
2,KUCAT_2017_4,Raphim Shrestha,1155,BE in Civil Engineering (Specialization in Hyd...
3,KUCAT_2017_5,Ashok Adhikari,853,BE in Chemical Engineering
4,KUCAT_2017_7,David Prajapati,918,BE in Computer Engineering
...,...,...,...,...
2982,KUCAT_2017_3854,Rahul Kumar Yadav,562,BE in Civil Engineering (Specialization in Hyd...
2983,KUCAT_2017_3855,Bimal Adhikari,794,BE in Computer Engineering
2984,KUCAT_2017_3856,Niharika Singh,703,BE in Computer Engineering
2985,KUCAT_2017_3857,Paribesh Shrestha,796,BE in Civil Engineering (Specialization in Hyd...
2986,KUCAT_2017_3858,Biraj Ghimire,688,BE in Electrical & Electronic Engineering (Com...

In [36]:
df["Name"]=df["Name"].apply(str.upper)
def program(text):
    if text == "BE in Computer Engineering":
        return "CE"

,KUCAT ID,Name,CBT Score,Program Applied
0,KUCAT_2017_1,SHREE KAJI GHIMIRE,1153,BE in Mechanical Engineering(Automobile)
1,KUCAT_2017_2,ASTITWA MADEMBA,758,BE in Mechanical Engineering(Automobile)
2,KUCAT_2017_4,RAPHIM SHRESTHA,1155,BE in Civil Engineering (Specialization in Hyd...
3,KUCAT_2017_5,ASHOK ADHIKARI,853,BE in Chemical Engineering
4,KUCAT_2017_7,DAVID PRAJAPATI,918,BE in Computer Engineering