In [2]:
import numpy as np
import pandas as pd
import re
import csv

In [24]:
df=pd.read_csv(f"./CSVs/2017.csv")
# select all columns except first
df=df.iloc[:,1:]

In [28]:
df=df.drop(columns=["Exam Type"],axis=1)

,KUCAT ID,Name,CBT Score,Program Applied
0,KUCAT_2017_1,Shree Kaji Ghimire,10105030,BE in Mechanical Engineering(Automobile)
1,KUCAT_2017_2,Astitwa Mademba,705080,BE in Mechanical Engineering(Automobile)
2,KUCAT_2017_4,Raphim Shrestha,10105050,BE in Civil Engineering (Specialization in Hyd...
3,KUCAT_2017_5,Ashok Adhikari,805030,BE in Chemical Engineering
4,KUCAT_2017_7,David Prajapati,901080,BE in Computer Engineering
...,...,...,...,...
3067,KUCAT_2017_3854,Rahul Kumar Yadav,506020,BE in Civil Engineering (Specialization in Hyd...
3068,KUCAT_2017_3855,Bimal Adhikari,709040,BE in Computer Engineering
3069,KUCAT_2017_3856,Niharika Singh,700030,BE in Computer Engineering
3070,KUCAT_2017_3857,Paribesh Shrestha,709060,BE in Civil Engineering (Specialization in Hyd...
3071,KUCAT_2017_3858,Biraj Ghimire,608080,BE in Electrical & Electronic Engineering (Com...

array([ True,  True, False,  True,  True])