In [128]:
import numpy as np
import pandas as pd
import re
import csv

In [129]:
df=pd.read_csv(f"./CSVs/2021.csv")
# select all columns except first
df=df.iloc[:,1:]
df=df.rename(columns={"KUCAT ID":"ID","CBT Score":"Score","Program Applied":"Program"})

In [130]:
df=df.drop(columns=["Exam Type"],axis=1)

In [131]:
df

,ID,Score,Program
0,KUCAT_2019_1,443,BE in Civil Engineering (Specialization in Hyd...
1,KUCAT_2019_2,577,BE in Civil Engineering (Specialization in Hyd...
2,KUCAT_2019_3,793,BTech in Biotechnology
3,KUCAT_2019_4,777,BE in Civil Engineering (Specialization in Hyd...
4,KUCAT_2019_5,720,BE in Computer Engineering
...,...,...,...
9551,KUCAT_2019_4774,978,BE in Civil Engineering (Specialization in Hyd...
9552,KUCAT_2019_4775,511,Bachelor of Pharmacy
9553,KUCAT_2019_4776,451,Bachelor of Pharmacy
9554,KUCAT_2019_4777,809,BSc In Computer Science
9555,KUCAT_2019_4778,616,Bachelor of Pharmacy

In [132]:
def program(text):
    if text == "BE in Computer Engineering":
        return "CE"
    elif text == "BSc In Computer Science": 
        return "CS"
    elif text == "BE in Mechanical Engineering(Automobile)":
        return "Auto"
    elif text == "BE in Mechanical Engineering(Design and Manufacturing)": 
        return "Design"
    elif text == "BE in Mechanical Engineering(Hydropower)": 
        return "Hydro"
    elif text == "BE in Mechanical Engineering(Energy Technology)": 
        return "Energy"
    elif text == "BE in Civil Engineering (Specialization in Hydropower)": 
        return "Civil"
    elif text == "BArch in Architecture": 
        return "Arch"
    elif text == "Bachelor of Pharmacy": 
        return "Pharma"
    elif text == "BE in Geomatics Engineering": 
        return "Geo"
    elif text == "BTech in Environmental Engineering": 
        return "Enve"
    elif text == "BSc in Environmental Science": 
        return "Envs"
    elif text == "BE in Electrical & Electronic Engineering (Power & Control)": 
        return "Power"
    elif text == "BE in Electrical & Electronic Engineering (Communication)": 
        return "Communication"
    elif text == "BSc in Computational Mathematics": 
        return "Computational"
    elif text == "BE in Chemical Engineering": 
        return "Chem"
    elif text == "BTech in Biotechnology": 
        return "Bio"
    else:
        return text
df.head()

             ID  Score                                            Program
0  KUCAT_2019_1    443  BE in Civil Engineering (Specialization in Hyd...
1  KUCAT_2019_2    577  BE in Civil Engineering (Specialization in Hyd...
2  KUCAT_2019_3    793                             BTech in Biotechnology
3  KUCAT_2019_4    777  BE in Civil Engineering (Specialization in Hyd...
4  KUCAT_2019_5    720                         BE in Computer Engineering

In [133]:
df["Name"]=df["Name"].apply(str.lower)
df["Program"]=df["Program"].apply(program)
df["Program"]=df["Program"].apply(str.lower)
df.head()

             ID  Score Program
0  KUCAT_2019_1    443   civil
1  KUCAT_2019_2    577   civil
2  KUCAT_2019_3    793     bio
3  KUCAT_2019_4    777   civil
4  KUCAT_2019_5    720      ce

In [134]:
df.to_csv("2021.csv")