In [2]:

# %pip install tabula-py
from tabula import read_pdf as reader
import tabula
import numpy as np
import pandas as pd
import re

In [23]:

pages=np.arange(1,44)
# reason we converted to the list is due to the fact that np array has type any 
pages=pages.tolist()
df=pd.DataFrame()

for page in pages:
    df1=tabula.read_pdf("CBT.pdf",pages=page)
    df1=df1[0]
    # type conversion to the int for comparsion
    df1=df1.dropna()
    # we used concat instead of append due error throw
    df=pd.concat([df,df1],ignore_index=True)


# def check(value):
#     if type(value)!= int and type(value)!= float: print(type(value))

def customint(value):
    if type(value)== str:
        pattern= r"(\d+) \*"
        value=re.sub(pattern,r'\1',value)
        return int(value)
    else:
        return int(value)
    
df["CBT Score"]=df["CBT Score"].apply(customint)
# df["NAN"]=df["CBT Score"].apply(check)

In [29]:

# no need for if condition can be done directly
df=df[df["Applied Program"] =="BE in Computer Engineering"]
df.head()
df=df.sort_values(by="CBT Score",ascending=0)
df["Rank"]=df["CBT Score"].rank(ascending=False)
df.reset_index(drop=True)

,KUCBT No.,Name,CBT Score,Applied Program,Rank
0,KUCAT_2023_2167,Rochak Adhikari,1637,BE in Computer Engineering,1.0
1,KUCAT_2023_1054,Sijan Bhandari,1566,BE in Computer Engineering,2.0
2,KUCAT_2023_1264,Deep Babu Neupane,1464,BE in Computer Engineering,3.0
3,KUCAT_2023_541,Abhinav Karn,1453,BE in Computer Engineering,4.0
4,KUCAT_2023_655,Satyam Lamsal,1389,BE in Computer Engineering,5.5
...,...,...,...,...,...
1243,KUCAT_2023_1384,Manik Sharma Timilsina,529,BE in Computer Engineering,1245.5
1244,KUCAT_2023_530,Shreya Chapagain,529,BE in Computer Engineering,1245.5
1245,KUCAT_2023_1973,Shubrat Dhital,529,BE in Computer Engineering,1245.5
1246,KUCAT_2023_884,RAM NARAYAN YADAV,529,BE in Computer Engineering,1245.5
1247,KUCAT_2023_342,Kushmakar Joshi,528,BE in Computer Engineering,1248.0

In [33]:
temp=df[df["CBT Score"]==976]
print(temp)

            KUCBT No.            Name  CBT Score             Applied Program  \
1648  KUCAT_2023_2277  Avignya Gautam        976  BE in Computer Engineering

       Rank
1648  218.0