In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

In [ ]:
year="2023"
filepath=f'.\Clean CSVs\{year}.csv'
df=pd.read_csv(filepath)
# select all columns except first
df=df.iloc[:,1:]

In [ ]:
df

,ID,Name,Score,Program
0,KUCAT_2023_1,shreeyut thapa,1224,ce
1,KUCAT_2023_2,kiyoshi pandey,672,ce
2,KUCAT_2023_3,anmol kumar yadav,622,be in geoma
3,KUCAT_2023_4,shailesh paudel,578,ce
4,KUCAT_2023_5,yubraj panthi,674,be in civil engineering (specializa
...,...,...,...,...
4521,KUCAT_2023_3208,sabin shrees,578,be in civil engineering (specializa
4522,KUCAT_2023_3210,lajjita bha,587,arch
4523,KUCAT_2023_3211,anup khanal,731,ce
4524,KUCAT_2023_3212,prasoon dahal,821,ce
4525,KUCAT_2023_3214,kelvin sangroula,755,design