In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

In [2]:
year="2023"
filepath=f'.\Clean CSVs\{year}.csv'
df=pd.read_csv(filepath)
# select all columns except first
df=df.iloc[:,1:]

In [3]:
df

             KUCBT ID               Name  Score Program
0        KUCAT_2023_1     Shreeyut Thapa   1224      CE
1        KUCAT_2023_2     Kiyoshi Pandey    672      CE
2        KUCAT_2023_3  Anmol Kumar Yadav    622     Geo
3        KUCAT_2023_4    Shailesh Paudel    578      CE
4        KUCAT_2023_5      Yubraj Panthi    674   Civil
...               ...                ...    ...     ...
2258  KUCAT_2023_3208       Sabin Shrees    578   Civil
2259  KUCAT_2023_3210       Lajjita Bhaa    587    Arch
2260  KUCAT_2023_3211        Anup Khanal    731      CE
2261  KUCAT_2023_3212      Prasoon Dahal    821      CE
2262  KUCAT_2023_3214   Kelvin Sangroula    755  Design

[2263 rows x 4 columns]

In [6]:
df["Score"].describe()

count    2263.000000
mean      765.477684
std       181.408022
min       528.000000
25%       621.000000
50%       729.000000
75%       875.000000
max      1637.000000
Name: Score, dtype: float64